body {
  background-color: #0d3252;
}

.App {
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-around;
  border: 1px solid #27b5ce;
  height: 200px;
  background-color: #0d3252;
  border-radius: 5px;
}

.scoreboard, .scoreboard_value {
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid #27b5ce;
  margin: 10px;
  height: 100px;
  display: flex;
  background-color: #0d3252;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.scoreboard_value {
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.valueColorMax {
  color: #d11b1b;
  font-size: 30px;
}


.buttons {
  display:flex;
  justify-content: space-evenly;
}

.button {
  border: none;
  background-color: #27b5ce;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  font-size: 20px;
}


.button:active {
  border: none;
  background-color: #168093;
  border-radius: 5px;
}

.disabledButton {
  border: none;
  background-color: #03697d;
  border-radius: 5px;
  height: 30px;
  width: 60px;
  font-size: 20px;
}

.scoreboard__inside{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.scoreboard__inside input{
  width: 60px;
  text-align: center;
}

.error_scoreboard input{
  background-color: red;
}

.error input {
  background-color: red;
}


/*.disabledButton{*/
/*  border-radius: 5px;*/
/*  background-color: #050f11;*/
/*}*/

/*button:disabled{*/

/*}*/




